	/* Responsive navigation
	------------------------------- */
	.site-header nav {
    	border-top: none;
	}
	
	.site-header .genesis-nav-menu {
		margin-bottom:20px;
	}
	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
	.genesis-nav-menu.responsive-menu {
		display: none;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}
	.genesis-nav-menu.responsive-menu li {
		border-top:1px solid $color-black;
	}
	.genesis-nav-menu.responsive-menu ul li {
		border-top:none;
	}
	
	.site-header .responsive-menu-icon {
		margin-top:30px;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item {
		margin: 0;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}
	
	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu a,
	.genesis-nav-menu.responsive-menu a:hover {
		background: none;
		line-height: 1;
		padding: 16px 10px;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;	
	}
	
	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}
	
	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 16px/1 'dashicons';
		height: 16px;
		padding: 16px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
		color:$color-black;
	}
	
	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}

	.genesis-nav-menu.responsive-menu .sub-menu {
		border: none;
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
		background-color:lighten($color-primary-one, 5%);
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		margin: 0;
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		background: none;
		border: none;
		padding: 12px 20px;
		position: relative;
		width: 100%;
	}
	
	.nav-primary .genesis-nav-menu.responsive-menu {
		padding-bottom: 16px;
	}
	
	.genesis-nav-menu a,
	.genesis-nav-menu a:hover,
	.genesis-nav-menu a:focus,
	.genesis-nav-menu .current-menu-item > a,
	.genesis-nav-menu .current_page_parent a,
	.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
	.genesis-nav-menu .current_page_parent a:hover,
	.genesis-nav-menu .menu-item-has-children a:hover {
		border-bottom:none;
	}
	
	.site-header .responsive-menu-icon.active .icon-bar {
		display: none;
    	background-color: lighten($color-primary-one, 10%);
	}
	
	.site-header .responsive-menu-icon.active .icon-bar:first-child {
    	display: block;
    	width: 25px;
    	height: 25px;
	}